<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>
    <div class="registerContainer">
        <form action="/api/v1/register" class="registerForm" method="post">
             <input type="text" placeholder="enter email" required name="email">
             <input type="text" placeholder="enter password" required name="password">
             <input type="text" placeholder="enter name" required name="name">
             <input type="text" placeholder="enter age" required name="age">
             <button>
                submit
             </button>
        </form>
    </div>
    
</body>
</html>